@{
    ViewBag.Title = "Index";
    Bundles.Reference("Public/js/app");
    Bundles.Reference("Public/templates");
}
   Rated <span itemprop="ratingValue">3.5</span>/5
   based on <span itemprop="reviewCount">11</span> customer reviews
  
<div id="loader"></div>
<div id="wrap"></div>