@{
    ViewBag.Title = "Index";
    Bundles.Reference("Public/js/app");
    Bundles.Reference("Public/templates");
}
<span class="rating-background">
    <meta itemprop="rating" content="4" /> 
</span>
<div id="loader"></div>
<div id="wrap"></div>