@{
    ViewBag.Title = "Index";
    Bundles.Reference("Public/js/app");
    Bundles.Reference("Public/templates");
}
 <div itemprop="aggregateRating"
    itemscope itemtype="http://schema.org/AggregateRating" style="display:none">
   Rated <span itemprop="ratingValue">3.5</span>/5
   based on <span itemprop="reviewCount">11</span> customer reviews
  </div>
<div id="loader"></div>
<div id="wrap"></div>