@{
    ViewBag.Title = "Index";
    Bundles.Reference("Public/js/app");
    Bundles.Reference("Public/templates");
}
 <div itemprop="aggregateRating"
    itemscope itemtype="http://schema.org/AggregateRating">
   Rated <span itemprop="ratingValue">3.5</span>/5
   based on <span itemprop="reviewCount">11</span> customer reviews
  </div>

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <span itemprop="price">$55.00</span>
    <link itemprop="availability" href="http://schema.org/InStock" />In stock
  </div>
<div id="loader"></div>
<div id="wrap"></div>