@{
    ViewBag.Title = "Index";
    Bundles.Reference("Public/js/app");
    Bundles.Reference("Public/templates");
}
<span itemprop="ratingValue">4.5</span>
<span itemprop="bestRating">5</span>
<div id="loader"></div>
<div id="wrap"></div>