@{
    ViewBag.Title = "Index";
    Bundles.Reference("Public/js/app");
    Bundles.Reference("Public/templates");
}
 <div itemprop="aggregateRating"
    itemscope itemtype="http://schema.org/AggregateRating" style="display:none">
   <span itemprop="ratingValue">3.5</span>
  </div>
<div id="loader"></div>
<div id="wrap"></div>